// Specific CSS for your home-page
.home-h-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  color: #333333;
  text-align: center;
}

.home-p-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #333333;
  text-align: center;
}

// create a background image for the home page
.home-background {
  background-image: url(homepage.jpeg);
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.home-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

//.container-show {
//  height: 80vh;
//}
