<div class="form-inputs d-flex flex-column my-4 mx-3 form">
  <%= render "form" %>

  <div>
    <%= link_to pets_path, class: "btn btn-back me-auto" do %>
        <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
        <i class="fa fa-paw" aria-hidden="true"></i>
      <% end %>
  </div>
</div>
