
<div class="card-pet-profile">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
  <div class="card-pet-profile-infos">
    <div>
      <h2><%= @pet.name %></h2>
      <p><%= @pet.description %></p>
    </div>
  </div>
</div>

<button class ="btn-flat"> <%=  link_to 'Go back', pets_path %></button>
