<div class="vh-100">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center mx-auto">
      <%= render "form" %>
        <button class="btn btn-back">
          <%= link_to  bookings_path do %>
            <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
            <i class="fa fa-paw" aria-hidden="true"></i>
          <% end %>
        </button>
    </div>
  </div>
</div>
