<div class="home-background d-flex flex-column justify-content-center">
  <div class="">
    <div class="d-flex flex-column justify-content-center">
      <h1 class="home-h-font mt-5">CuddlePaws</h1>
      <p class="home-p-font">Peek now! Bond forever!</p>
    </div>
  </div>

  <div class="d-flex flex-column mx-5 px-4">
    <%= link_to pets_path, class: "btn home-btn-flat fs-1 mt-5" do %>
      <i class="fa fa-paw" aria-hidden="true"></i>
      <p>Let's start</p>
    <% end %>
  </div>
</div>
