<div class="home-background">
  <div>
    <h1 class="home-h-font mt-5">CuddlePaws</h1>
  </div>
  <div >
    <p class="home-p-font mt-5">Happiness is closer than you think!</p>
    <p class="home-p-font">Who do you want to cuddle today?</p>
  </div>

  <div class="d-flex flex-column m-auto home-btns px-5 justify-content-center mt-5">
    <%= link_to pets_path, class: "btn btn-flat fs-1 mt-5" do %>
      <i class="fa fa-paw" aria-hidden="true"></i>
      <p>Let's start</p>
    <% end %>

    <%= link_to new_user_session_path, class: "btn btn-flat fs-1" do %>
      <i class="fa fa-paw" aria-hidden="true"></i>
      <p>Login/Signup</p>
    <% end %>
  </div>
</div>
