<div class="home-background">
  <div>
    <h1 class="home-h-font mt-3">CuddlePaws</h1>
  </div>
  <div>
    <p class="home-p-font">Happiness is closer than you think!</p>
    <p class="home-p-font">Who do you want to cuddle today?</p>
  </div>
  <div class="home-btns">
    <button class="btn btn-flat">
      <%= link_to pets_path do %><i class="fa fa-paw" aria-hidden="true"><p>Let's start</p></i><% end %>
    </button>
    <button class="btn btn-flat">
      <%= link_to new_user_registration_path do %><i class="fa fa-paw" aria-hidden="true"><p>Login/Signup</p></i><% end %>
    </button>
  </div>
</div>
