.btn-back {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #F4BFBF;
}
.btn-back a{
  font-size: 13px;
  color: white;
   text-decoration: none;
   font-family:  'Josefin Sans', sans-serif;
}

.btn-flat {
   color: white;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 8px 60px;
   border-radius: 10px;
   background: #F4BFBF;
 }

 .btn-flat a {
   color: white;
   text-decoration: none;
   font: 1.5rem 'Josefin Sans', sans-serif;
 }

 .btn-flat p {
    color: white;
    text-decoration: none;
    font: 1.5rem 'Josefin Sans', sans-serif;
    padding-bottom: 0%;
 }

//  .btn-flat:hover {
//    background: #F4BFBF;
//    opacity: 0.8;
//    color: rgb(0, 0, 0);
//  }

//  .btn-1:hover::after {
//    content: "Let's Start";
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }

//  .btn-2:hover::after {
//   content: "Login/Signup";
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

 .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Optionally, you can use a specific height for vertical centering */
}
