.card-pet-profile {
  overflow: hidden;
  background: #F4BFBF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-pet-profile > img {
  height: 200px;
  object-fit: cover;

}

.card-pet-profile h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-align: center;
}

.card-pet-profile p {
  font-size: 12px;
  opacity: 0.8;
  padding-top: 5px;
  color: white;
  text-align: center;

}


.card-pet-profile .card-pet-profile-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
